body {
    margin: 0px;
    background-color: rgb(45, 42, 94);
    font-family: 'Cascadia Code' ,sans-serif;

    line-height: 30px;
}

header {
    position: sticky;
    display: flex;


    padding: 0px 30px 0px 30px;
    align-items: center;
    justify-content: space-between;

    color: white;
    height: 100px;
    background-color: rgb(29, 29, 114);
    top: 0;
}

header p {
    font-size: 30px;
}

header div {
    display: flex;
    gap: 50px;

    a {
        text-decoration: none;
        color: white;
    }

    p {
        font-size: 20px;
    }


}

header span {
    animation: blink infinite 1s;
    animation-timing-function: ease-in-out;
    
}

@keyframes blink {
    40% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.commandOption p:hover {
    color: gray;
}

main {
    height: 300px;
    margin: 25px 30px 10px 70px;

    padding: 20px;
}

.commandBox span {
    padding: 5px;
    background-color: rgb(173, 173, 173);
    border-radius: 5px;
    color: black;
    font-family: Roboto, system-ui;
}

.commandBox {
    color: white;
    width: 100%;
}

.boxTitle { 
    font-size: 20px
}

footer {
    position: fixed;
    display: flex;

    flex-direction: column;

    width: 100%;
    height: auto;

    align-items: center;
    justify-content: center;

    bottom: 0;

    background-color: black;
    color: white;
}

footer {

    a {
        text-decoration: none;
        color: white;
        padding: 5px;
        border-radius: 10px;
        background-color: gray;

        transition: background-color 0.3s;
    }

    a:hover {
        background-color: black;
    }

    p {
        font-size: 15px;
    }

    
}

.textBox {
    display: block; 
    max-width: 50%; 
    min-width: 250px; 
    background-color: rgb(100, 100, 100);
}




